<% banner %>
import PropTypes from 'prop-types'
import wrapper from '@vonage/vivid-react-wrapper';

export const <% component-class-name %> = wrapper('<% tag %>',  {
    events: [<% events %>],
    attributes: [<% attributes %>],
    properties: [<% properties %>]
});

<% component-class-name %>.propTypes = {
<% prop-types %>
}
